[package]
name = "libipld"
version = "0.1.0"
authors = ["David Craven <david@craven.ch>"]
edition = "2018"

[dependencies]
async-std = "0.99"
async-trait = "0.1"
byteorder = "*"
cid = { git = "https://github.com/dvc94ch/rust-cid", branch = "cli" }
failure = "0.1"
futures-preview = { version = "0.3.0-alpha.18", features = ["async-await", "nightly"] }
multibase = { git = "https://github.com/multiformats/rust-multibase" }
multihash = { git = "https://github.com/dvc94ch/rust-multihash", branch = "cli" }

[dev-dependencies]
criterion = "0.3"
proptest = "0.8"
model = "0.1"

[workspace]
members = [
  "dag-cbor-derive",
]

[profile.release]
debug = true
